{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"   
  ],
  "importOrder": [
    "react",
    "<THIRD_PARTY_MODULES>",
    "^./(.*)$",
    "^../(.*)$",
    "@features/",
    "@containers/",
    "@components/",
    "@redux/",
    "@assets/",
    "@models/",
    "@helpers/",
    "@shared/",
    "@assets/"
  ],
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "editorconfig": true,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsxBracketSameLine": false,
  "proseWrap": "always"
}
