@use '@/assets/styles/mixins' as *;
.root {
  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.2);
  }
}
.loader {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
}
