.root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: auto;
  height: 60px;
  background: linear-gradient(82.6deg, #595778 0%, #02cbfb 101.07%);
  p {
    color: azure;
  }
}
